# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
butterflyEffect.xcodeproj/project.xcworkspace/contents.xcworkspacedata
butterflyEffect.xcodeproj/project.xcworkspace/xcshareddata/butterflyEffect.xcscmblueprint
butterflyEffect.xcodeproj/xcuserdata/james.xcuserdatad/xcschemes/xcschememanagement.plist
butterflyEffect.VC.VC.opendb
butterflyEffect.VC.db
obj/Debug/butterflyEffect.tlog/CL.command.1.tlog
obj/Debug/butterflyEffect.tlog/CL.read.1.tlog
obj/Debug/butterflyEffect.tlog/CL.write.1.tlog
obj/Debug/butterflyEffect.tlog/butterflyEffect.lastbuildstate
obj/Debug/butterflyEffect.tlog/unsuccessfulbuild
bin/data/
bin/butterflyEffect_debug.exp
obj/Debug/butterflyEffect.tlog/butterflyEffect.write.1u.tlog
obj/Debug/butterflyEffect.tlog/link.command.1.tlog
obj/Debug/butterflyEffect.tlog/link.read.1.tlog
obj/Debug/butterflyEffect.tlog/link.write.1.tlog
obj/Debug/butterflyEffect.tlog/rc.command.1.tlog
obj/Debug/butterflyEffect.tlog/rc.read.1.tlog
obj/Debug/butterflyEffect.tlog/rc.write.1.tlog
obj/Debug/icon.res
